body {	
	margin: 0;
	font-family: Helvetica, 'Arial';
}

body > div {
	display: inline-block;
}

.relative {
	position: relative;
}

.documentation {
	margin-top: 50px;
}

.doc-title, .doc-subtitle {
	font-family: "Source Sans Pro";
	text-align: center;
}

.doc-title {
	padding-top: 15px;
}

.doc-subtitle {
	padding-bottom: 20px;
}

.doc-nav-group:last-child {
	padding-bottom: 10px;	
}

.doc-nav-group a {
	text-decoration: none;
	font-family: "Cabin Condensed";
}

.doc-nav-group a:visited {
	text-decoration: none;
}

.doc-nav-header {
	padding: 2px 12px;
	background-color: #2b2b2b;
	border-left: 4px solid #2b2b2b;
	-webkit-transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
	-moz-transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
	-o-transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
	-ms-transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
	transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
}

.doc-nav-header a {
	color: #FF5C00;
	font-size: 18px;
}

.doc-nav-link {
	padding: 2px 24px;
	background-color: #2b2b2b;
	border-left: 4px solid #2b2b2b;
	-webkit-transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
	-moz-transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
	-o-transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
	-ms-transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
	transition: border-color 200ms linear 0s,border-color 200ms linear 0s;
}

.doc-nav-header:hover, .doc-nav-link:hover {
	border-left: 4px solid #FF5C00;
}

.doc-nav-link a {
	color: #1a99aa;
	font-size: 14px;
}

.main-links {
	padding: 10px 0;
	vertical-align: middle;
}

.main-links a {
	text-decoration: none;
	color: #2b2c47;
}

.doc-menu {
	min-width: 100px;
	width: 192px;
	background-color: #2B2B2B;
	color: #fff;
	position: fixed;
	top: 64px;
	box-shadow: 0 3px 10px #222;
	display: inline-block;
	padding: 15px 0;
	border-radius: 3px;
}

.doc-menu .doc-nav-group:first-child {
	margin-top: 0px;
}

.doc-content {
	margin-left: 20%;
	width: 80%;
	padding: 10px 0;
	display: inline-block;
}

.doc-content > div {
	padding: 10px 20px;
}

.group-content > div {
	padding: 3px 20px;
}

div.group-title {
	color: #FF5C00;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lucida Grande', sans-serif;
}

div.group-desc {
	line-height: 1.4;
	font-size: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.group-desc > div {
	margin: 10px 0;
}

.group-desc > p {
	margin: 6px 0;
}

.subgroup-title {
	font-size: 16px;
	color: #1a99aa;
	font-weight: bold;
}

.main-links a {
	color: #FA1C1C;
}

.code-ex {
	border-radius: 4px;
	padding: 4px 10px;
	font-family: Consolas, Monaco, "Ubuntu Mono","Droid Sans Mono";
	background-color: rgba(26, 153, 170, 0.13);
	margin: 10px 0;
}

pre {
	font-family : Consolas, Monaco, "Ubuntu Mono", "Droid Sans Mono", Monospace;
	font-size: 0.9em;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

.group-content {

}

table.charttypes {
	border-collapse: collapse;
	font-size: 12px;
	margin: 10px 0;
}

.charttypes th, .charttypes td {
	border: 1px solid #AAA;
	padding: 8px 10px;
}

.charttypes th {
	background-color: #444;
	color: #fff;
	font-weight: bold;
}

.charttypes tr:nth-child(odd) {
	background-color: #F6F6F6;
}

.charttypes tr:nth-child(even) {
	background-color: #f8f9fe;
}

.charttypes td:nth-child(1) {
	text-align: right;
	font-weight: bold;
}

.charttypes td:nth-child(2) {
	text-align: left;
}

.social-bar {
	background-color: #2b2b2b;
	width: 12.5%;
	min-width: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 6px 0;
}

.social-bar img {
	width: 32px;
	height: 32px;
}