body {
	font-family: Helvetica,Arial,Ubuntu,Sans;
	min-height: 1200px;
	margin: 0 0;
}

.w {
	width: 100%;
}

.c {
	width: 960px;
	margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #47494d;
	border-bottom: 2px solid #ff9053;
	box-shadow: 0px 2px 2px #999;
}

.logo {
	font-size: 31px;
	font-family: Arial;
	padding: 7px 8px;
}
.logo span:first-child {
	font-size: 25px;
	color: #fff;
	cursor: pointer;
}


.logo span:last-child {
	color: #ff9053;
	margin-left: -9px;
	cursor: pointer;
}

.logo.hovered span:first-child {
	color: #ff9053;
}

.logo.hovered span:last-child {
	color: #fff;
}

.nav li {
	display: inline-block;
	width: 100px;
	text-align: center;
}

.nav li a {
	text-decoration: none;
	color: #ffffff;
	width: 100px;
	padding: 14px 12px;
	border-top: 2px solid #47494d;
	/*border-bottom: 2px solid #47494d;*/
}

.nav a:hover {
	color: #ff9053;
	border-top: 2px solid #ff9053;
}

.banner {
	border-top: 4px solid #ff9053;
	border-bottom: 1px solid #ff9053;
	margin-top: 50px;
	font-size: 10px;
	color: #737373;
}

.banner .lf {
	margin-left: 5px;
}

.banner .rf {
	margin-right: 16px;
}

.graphs > div {
	width: 100%;
//height: 400px;
}

.rf {
	float: right;
}

.lf {
	float: left;
}

.clearfix {
	overflow: hidden;
}

.clearfix:after {
	clear:both;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	width:180px;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}